:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark_blue: hsl(234, 12%, 34%);
    --grayish_blue: hsl(229, 6%, 66%);
    --gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "Header"
        "SuperVisor"
        "TeamBuilder"
        "Karma"
        "Calculator";
    font-family: 'Poppins', cursive;
    gap: 32px;
    max-width: 28rem;
    margin: 1rem;
}

h1 {
    font-weight: 600;
    line-height: 1.2; 
    text-wrap: balance;
}

span {
    display: block; 
}

.header {
    grid-area: Header;
    text-align: center;
}

.header p {
    text-align: center;
    max-width: 50ch; 
    margin-inline: auto; 
}

.grey,p {
    color: var(--grayish_blue);
    font-weight: 200;
    display: block; 
}

.superVisor {
    grid-area: SuperVisor;
    border-top: 4px solid var(--cyan);
}

.card {
    padding: 20px;
    display: grid;
    gap: 16px;
}

img {
    position: relative;
    height: 3.5rem; 
    width: 3.5rem; 
    justify-self: end;

}

.teamBuilder {
    grid-area: TeamBuilder;
    border-top: 4px solid var(--red);
}


.karma {
    grid-area: Karma;
    border-top: 4px solid var(--orange);
}


.calculator {
    grid-area: Calculator;
    border-top: 4px solid var(--blue);

}

@media screen and (min-width: 60rem) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto repeat(4, 1fr);
        grid-template-areas: "header     header      header    "
                              ".          teamBuilder .         "
                              "superVisor teamBuilder calculator"
                              "superVisor karma       calculator"".          karma       .         ";
        max-width: 80rem; 
                            }

    .header {
        grid-area: header;
    }

    .teamBuilder {
        grid-area: teamBuilder;
    }

    .calculator {
        grid-area: calculator;
    }

    .superVisor {
        grid-area: superVisor;
    }

    .karma {
        grid-area: karma;
    }




}